<article class="comment">
      <section class="comment-nickname">
        <strong><%= comment.commenter %></strong> | 
        <small>
          <time><%= comment.created_at.to_date.strftime("%d %b, %Y") %></time>
        </small>
      </section>

      <section class="comment-text">
        <%= comment.body %>
      </section>

</article>
